<div class="jumbotron">
 <div class="container">
  <h2 class="text-center">Cloud based auditing solutions for CPA firms</h2>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Kayıt ol</a></p>
 </div>
</div>