<div class="jumbotron">
 <div class="container">
  <h2 class="text-center">Cloud based auditing solutions for CPA firms</h2>
  <p class="text-center"><%= link_to "Kayıt Ol", signup_path, class: "btn btn-primary btn-lg", role: "button" %></p>
 </div>
</div>